#A {
    color: aqua;
    font-size: 100px;
}
#B {
    color: purple;
    font-size: 100px;
}
#C{
    color: yellow;
    font-size: 100px;
}
#D {
    color: blue;
    font-size: 100px;
}
#E {
    color: black;
    font-size: 100px;
}
#F{
    color: red;
    font-size: 100px;
}
#G {
    color: purple;
    font-size: 100px;
}
#H {
    color: black;
    font-size: 100px;
}
#I{
    color: aqua;
    font-size: 100px;
}
#J {
    color: green;
    font-size: 100px;
}
#K {
    color: black;
    font-size: 100px;
}
#L{
    color: blue;
    font-size: 100px;
}
#M{
    color: black;
    font-size: 100px;
}
